    #social-accounts {
        display: flex;
        flex-direction: row;
    }

    .foot-background {
        /* background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
        /* background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%); */
        background: linear-gradient(109.6deg, rgb(204, 228, 247) 11.2%, rgb(237, 246, 250) 100.2%);
     
     }