@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wellfleet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');



.min-h-screen {
    display: flex;
  }

.slogan {
    font-size: 100px;
    /* font-family: 'Rubik Doodle Shadow', ubuntu; */
    font-family: 'Rowdies', ubuntu;
    padding-left: 25px;
}

.description {
    font-size: medium;
    color: white;
    /* color: black; */
    font-family: 'Wellfleet', monospace;
    padding-left: 25px;
    text-align: justify;
}
.leftContainer {
    flex: 1; 
    padding: 20px;
    width: 600px;
    height: 400px;
    margin-left: 15px;
    display: inline-grid;
    justify-content: center;
    text-align: start;
    align-items: center;
}

.slogan{
  background: linear-gradient(
      to right,
      #7953cd 20%,
      #00affa 30%,
      #0190cd 70%,
      #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

.slider-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider {
    flex: 1;
    margin-top: 20px;
    margin-right: 5px;
    height: 400px; /* Adjust the height as needed */
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(11, 7, 7, 0.5);
    position: relative;
  }
  
  .slider img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider:hover img {
    transform: scale(1.1); /* Zoom in on hover */
  }
  
  .signin-box, .signup-box {
    flex: 1;
    margin-top: 25px;
  }


  .download-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .download-button::before,
  .download-button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .download-button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .download-button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .download-button:active,
  .download-button:focus {
    outline: none;
  }
  
  .download-button:active::before,
  .download-button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .download-button:active::before {
    top: 3px;
  }
  
  .download-button:active::after {
    bottom: 3px;
  }
  
  .download-button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .download-button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .download-button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .download-button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-image: linear-gradient(to bottom right, #00c6ff,
  #0072ff);
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .download-button_text {
    position: relative;
  }
  
  .download-button:hover {
    color: #0f1923;
  }
  
  .download-button:hover .download-button_sl {
    width: calc(100% + 15px);
  }
  
  .download-button:hover .download-button_lg::after {
    background-color: #fff;
  }

  @media (max-width: 768px) {

    .home-screen{
      display: grid;
    }

    .leftContainer {
      width: auto;
      height: auto;
    }

    .slider {
      width: auto;
      height: auto;
      margin: 10px;
    }

  }